<div class="container imagearea">
	<h2 class="howaccurate">How accurate is this <span class="italicaccent">Alt Text</span>?</h2>
	<div class="image">
		<img style="max-height: 85%" src="{{ imageUrl }}" (click)="sendRating(100)" />
		<p class="caption">{{ caption }}</p>
	</div>
</div>
<div class="container ratingarea">
	<!-- <span *ngFor="let star of getStars()"> -->
	<span (click)="starClick(1)" id="img1" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(2)" id="img2" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(3)" id="img3" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(4)" id="img4" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(5)" id="img5" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
		<!-- <img *ngFor="let star of getStars()" (mouseenter)="setStars(star.num)" (click)="sendRating(star.num)" src="assets/img/pointed_star.svg" [ngStyle]="{'fill': star.backgroundColor}" /> -->
	<!-- </span> -->
</div>
	<!-- <i *ngIf="loadingImage" class="fa fa-spinner fa-spin" style="font-family: FontAwesome; font-size:48px"></i> -->
