<div class="slotmachine">
    <h1 (click)="test()">HELLO</h1>
    <p>Wonderful slot machine</p>
    <div class="reels-container">
    	<ul class="slot">
    		<li>
    			<img src="assets/img/hershey.png" />
    		</li>
    		<li>
    			<img src="assets/img/hershey.png" />
    		</li>
    		<li>
    			<img src="assets/img/lolly.png" />
    		</li>
    		<li>
    			<img src="assets/img/hershey.png" />
    		</li>
    		<li>
    			<img src="assets/img/lolly.png" />
    		</li>
    		<li>
    			<img src="assets/img/lolly.png" />
    		</li>
    	</ul>
    </div>
    <!-- this button will start the spin -->
    <input type="button" id="playBtn" value="play">
    <input style="display: none" type="button" id="playBtn2" value="play (hack)">
</div>
