<div class="slotmachine">
    <h2>Spin for your <span class="italicaccent">Snack</span></h2>
    <div class="reels-container">
    	<ul class="slot">
    		<li>
    			<img src="assets/img/mms.png" />
    		</li>
    		<li>
    			<img src="assets/img/mms.png" />
    		</li>
    		<li>
    			<img src="assets/img/lolly.png" />
    		</li>
    		<li>
    			<img src="assets/img/mms.png" />
    		</li>
    		<li>
    			<img src="assets/img/lolly.png" />
    		</li>
    		<li>
    			<img src="assets/img/lolly.png" />
    		</li>
    	</ul>
    </div>
    <!-- this button will start the spin -->
    <input class="spinButton" type="button" id="playBtn" value="Spin!">
    <div style="opacity: 0" class="rewardarea" style="margin: 50px">
    {{ message }}
    </div>
</div>
