/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'KlinicSlabMediumIt';
  src: url("../assets/KlinicSlabMediumIt.otf") format("opentype");
}
@font-face {
  font-family: 'KlinicSlabMedium';
  src: url("../assets/KlinicSlabMedium.otf") format("opentype");
}
@font-face {
  font-family: 'KlinicSlabLight';
  src: url("../assets/KlinicSlabLight.otf") format("opentype");
}

body {
  font-family: "KlinicSlabMedium";
}

h2 {
  font-family: "KlinicSlabMedium";
  font-size: 32px;
}

.italicaccent {
  font-family: "KlinicSlabMediumIt";
  color: #F1C21C;
}

.reels-container {
  margin: 40px;
}

.spinButton {
  font-family: "KlinicSlabMediumIt";
  font-size: 32px;
  background-color: #C63702;
  padding: 10px;
  color: #FFF;
  border-radius: 1000px;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
  background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
  box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AD3002, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.spinButton:hover, .spinButton:focus {
  background-color: #D13902;
  box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #AD3002, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  top: -2px;
  outline: 0;
}
/* line 69, ../sass/screen.scss */
.spinButton:active {
  box-shadow: 0 0 0 1px #AD3002 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.container, p {
  margin: 0;
}

.progress {
  height: 10vh;
}

.imagearea {
  height: 60vh;
}

.ratingarea {
  height: 30vh;
}

.rewardarea {
    opacity: 0;
    /*font-size: 21px;*/
    /*margin-top: 25px;*/
    text-align: center;

    font-family: "KlinicSlabMediumIt";
    font-size: 32px;

    -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
}

/* line 15, ../sass/screen.scss */
body {
  background: #FDFDFD;
  text-align: center;
  -webkit-transform: translateZ(0);
}

/* line 21, ../sass/screen.scss */
img {
  border: none;
  /*margin: 25px;*/
}

.red-button {
  /* background-image: url('../../assets/img/red-button.png'); */
  z-index: 1001;
}

/* line 25, ../sass/screen.scss */
.btn-big-red {
  background-image: url('../../assets/img/red-button.png');
  background-size: 100%;
  background-repeat:no-repeat;
  z-index: 1001;
  height: 100%;
  display: inline-block;
  text-align: center;
  top: 0;
  font-family: "KlinicSlabMediumIt";
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 300px;
  margin: 30px 0 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

/* line 78, ../sass/screen.scss */
/**, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KlinicSlabLight";
}*/

/* Form Progress */
/* line 87, ../sass/screen.scss */
.progress {
  margin: none;
  text-align: center;
}

/* line 92, ../sass/screen.scss */
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #EBEBEB;
}

/* line 100, ../sass/screen.scss */
.progress .bar {
  height: 0px;
  margin-left: -1px;
  margin-right: 0px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

/* line 111, ../sass/screen.scss */
.progress .circle .label {
  font-family: "KlinicSlabMedium";
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 41px;
  border-radius: 32px;
  margin-top: 5px;
  color: #EBEBEB;
  font-size: 22px;
}

/* line 121, ../sass/screen.scss */
.progress .circle .title {
  color: #EBEBEB;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
/* line 129, ../sass/screen.scss */
.progress .bar.done,
.progress .circle.done {
  background: #EBEBEB;
}

/* line 133, ../sass/screen.scss */
.progress .bar.active {
  background: linear-gradient(to right, #f1c21c 25%, #ffffff 100%);
}

/* line 136, ../sass/screen.scss */
.progress .circle.done .label {
  background: #ebebeb;
  /* background: #F1C21C; */
}

/* line 141, ../sass/screen.scss */
.progress .circle.done {
  color: #EBEBEB;
}

/* line 144, ../sass/screen.scss */
.progress .circle.active .label {
  color: #EBEBEB;
  /* background: #F1C21C; */
  background-image: url('../../assets/img/tick.png');
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

/* line 149, ../sass/screen.scss */
.progress .circle.active {
  color: #F1C21C;
}
