.imagearea {
	text-align: center;
}

.image {
	height: 80%;
	/*padding-top: 30px;*/
}

.ratingarea {
	text-align: center;
	/*margin: 25px;*/
}

.ratingarea .star.highlight svg path {
	fill: #F1C21C;
}

.ratingarea .star {
	cursor: pointer;
}

.ratingarea .star {
	width: 100px;
}
