ul {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    display: inline-block;
    list-style-type: none;
}

.slot li {
    /*width: 100px;*/
    line-height: 100px;
    text-align: center;
}

/deep/ .jSlots-wrapper {
    overflow: hidden; /* to hide the magic */
    height: 100px;
    display: inline-block; /* to size width correctly, can use float too, or width*/
    border: 1px solid #999;
}

img {
    height: 80px;
    padding: 10px;
}

.reels-container {
    text-align: center;
}

.reels-container > div.jSlots-wrapper {
    display: inline-block;
}