<html>
  <head>
    <link href="../static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static',filename='progressbar.js') }}"></script>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Swipe n' Snack Vending Machine</title>
    {% endif %}
  </head>
  <body>
    <div class="progress">
      {% for n in range(1,6)%}
        {% if n <= tasks_completed - 1%}
        <div class="circle active">
          <span class="label">{{ n }}</span>
        </div>
        {% else %}
        <div class="circle">
            <span class="label">{{ n }}</span>
          </div>
        {% endif %}
        {% if n != 5 %}
        <span class="bar"></span>
        {% endif %}
      {% endfor %}
    </div>

  </div>
    {% block content %}{% endblock %}
  </body>
</html>
