<div class="container imagearea">
	<h2 class="howaccurate">The following images contain <span class="italicaccent">{{ category }}</span></h2>
	<div class="image-grid">
		<div class="image-wrap">
			<!-- <img [ngStyle]="{'opacity': loadingImage ? 0.3 : 1}" src="{{ imageUrl }}" (load)="imageLoad()" /> -->
			<div class="image-display">
				<div class="row">
					<img class="refimage" src="../../assets/img/adidas1.jpg">
					<img class="refimage" src="../../assets/img/adidas2.jpg">
					<img class="refimage" src="../../assets/img/adidas3.jpg">
				</div>
			</div>
			<i *ngIf="loadingImage" class="fa fa-spinner fa-spin imageloader" style="font-family: FontAwesome; font-size:48px"></i> 
			<div *ngIf="firstLoad" class="captionwrap">
				<p class="caption italicaccent">where</p>
			</div>
			<img src="../../assets/img/triangle.png" style="width:80px;margin-bottom:50px;">
		</div>
	</div>
</div>
<div class="container evaluatearea">
	<h2 class="verify-images">
		Select the following images which also contain <span class="italicaccent">{{ category }}</span>
	</h2>
	<div class="verify-image-wrap">
		<div class="image-display" style="text-align: center;">
			<div class="row">
				<img (click)="imageClick(1)" id="img1" class="image" src="../../assets/img/adidas1.jpg">
				<img (click)="imageClick(2)" id="img2" class="image" src="../../assets/img/adidas2.jpg">
				<img (click)="imageClick(3)" id="img3" class="image" src="../../assets/img/adidas3.jpg">
				<img (click)="imageClick(4)" id="img4" class="image" src="../../assets/img/adidas1.jpg">
				<img (click)="imageClick(5)" id="img5" class="image" src="../../assets/img/adidas2.jpg">
			</div>
		</div>
	</div>
</div>
<!-- <div class="container"> -->
	<!-- <span (click)="starClick(1)" id="img1" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(2)" id="img2" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(3)" id="img3" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(4)" id="img4" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span>
	<span (click)="starClick(5)" id="img5" class="star">
	<img class="svg" src="assets/img/pointed_star.svg" />
	</span> -->
		<!-- <img *ngFor="let star of getStars()" (mouseenter)="setStars(star.num)" (click)="sendRating(star.num)" src="assets/img/pointed_star.svg" [ngStyle]="{'fill': star.backgroundColor}" /> -->
	<!-- </span> -->
<!-- </div> -->
<div class="info" style="margin-top:-15px">
	<span (click)="showInfo()" class="info">
		<img src="../../assets/img/info.png">
	</span>
</div>
<div class = "buttons" style="text-align:right;margin-top: -20px;"> 
	<span (click)="skip()" class="skip" style="margin-right:20px;">
		<img src="../../assets/img/skip.png" style="width: 120px"/>
	</span>
	
	<span (click)="verify()" class="verify">
		<img src="../../assets/img/verify.png" style="width: 120px"/>
	</span>
</div>

	<!-- <i *ngIf="loadingImage" class="fa fa-spinner fa-spin" style="font-family: FontAwesome; font-size:48px"></i> -->
