<head>
	<link href="../static/css/image-area.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
{% extends "base.html" %}
{% block content %}
<div class="container imagearea">
	<h2 class="howaccurate">The following images contain <span class="italicaccent">{{ category }}</span></h2>
	<div class="image-grid">
		<div class="image-wrap">
			<!-- <img [ngStyle]="{'opacity': loadingImage ? 0.3 : 1}" src="{{ imageUrl }}" (load)="imageLoad()" /> -->
			<div class="image-display">
				<div class="row">
					{% for image_url in ref_img_arr %}
						<img class="refimage" src= {{ image_url }} >
					{% endfor %}
				</div>
			</div>
			<img src="./static/img/triangle.png" style="width:80px;margin-bottom:50px;">
		</div>
	</div>
</div>
<div class="container evaluatearea">
	<h2 class="verify-images">
		Select the following images which also contain <span class="italicaccent">{{ category }}</span>
	</h2>
	<div class="verify-image-wrap">
		<div class="image-display" style="text-align: center;">
			<div class="row">
					{% for image_url in ver_img_arr %}
					<img onclick="imageClick({{loop.index}})" class="image" src= {{ image_url }} id="img{{loop.index}}" >
					{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="info" style="margin-top:-15px">
	<span (click)="showInfo()" class="info">
		<img src="../static/img/info.png">
	</span>
</div>

<div class = "buttons" style="text-align:right;margin-top: -20px;"> 
	<a href="{{ url_for('skip') }}" class="skip" style="margin-right:20px;">
		<img src="./static/img/skip.png" style="width: 120px"/>
	</span>
	
	<a href="{{ url_for('verify') }}" onclick="verify()" class="verify">
		<img src="./static/img/verify.png" style="width: 120px"/>
	</span>
</div>

<script type=text/javascript>
	function imageClick(num) {
		// console.log("clicking image " + num);
		var color = jQuery("#img" + num).css("border-color");
		// console.log(n);
		if (color.replace(/\D+/g, '') === '0000') {
		//activate
		jQuery('#img' + num).css('border-color', '#f1c21c');
		jQuery('#img' + num).addClass('activated');
		}
		else {
		//deactivate
		jQuery('#img' + num).css('border-color', 'rgba(0,0,0,0)');
		jQuery('#img' + num).removeClass('activated');

		}
	}
	function verify() {
		var arr = new Array(6).fill(0);
		console.log("clicked verify");
		for (let i = 1; i <= 6; i++) {
			var indexOfActivated = jQuery("#img" + i).attr('class').indexOf('activated');
			if (indexOfActivated !== -1) {
				arr[i-1] = 1;
			}
		}
		$.ajax({
			url: "/rateimg",			
			data: arr,
			contentType: 'application/json;charset=UTF-8',
			type: 'POST',
			async: false,
			success:function(data) {
				boolArr = arr;
			}
		});
		return boolArr;
  	}
</script>


	<!-- <i *ngIf="loadingImage" class="fa fa-spinner fa-spin" style="font-family: FontAwesome; font-size:48px"></i> -->
{% endblock %}
