<html>
  <head>
    <link rel="stylesheet" href="../static/css/jquery.slotmachine.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../static/css/lottery.css" type="text/css" media="screen" />
    <script type="text/javascript" src="../static/js/slotmachine.min.js"></script>
  </head>
  <body>
    <div>
      <div id="machine1" class="randomizeMachine">
        <div><img src="../static/img/slot1.png" /></div>
        <div><img src="../static/img/slot2.png" /></div>
        <div><img src="../static/img/slot3.png" /></div>
        <div><img src="../static/img/slot4.png" /></div>
        <!--<div><img src="../static/img/slot5.png" /></div>-->
        <!--<div><img src="../static/img/slot6.png" /></div>-->
      </div>
      <div id="machine2" class="randomizeMachine">
        <div><img src="../static/img/slot1.png" /></div>
        <div><img src="../static/img/slot2.png" /></div>
        <div><img src="../static/img/slot3.png" /></div>
        <div><img src="../static/img/slot4.png" /></div>
        <!--<div><img src="../static/img/slot5.png" /></div>-->
        <!--<div><img src="../static/img/slot6.png" /></div>-->
      </div>
      <div id="machine3" class="randomizeMachine">
        <div><img src="../static/img/slot1.png" /></div>
        <div><img src="../static/img/slot2.png" /></div>
        <div><img src="../static/img/slot3.png" /></div>
        <div><img src="../static/img/slot4.png" /></div>
        <!--<div><img src="../static/img/slot5.png" /></div>-->
        <!--<div><img src="../static/img/slot6.png" /></div>-->
      </div>
      <button id="shuffle" type="button">Lever</button>
    </div>
<script>
const results = {
  machine1: document.querySelector('#machine1Result'),
  machine2: document.querySelector('#machine2Result'),
  machine3: document.querySelector('#machine3Result'),
};
const btnShuffle = document.querySelector('#shuffle');
const el1 = document.querySelector('#machine1');
const el2 = document.querySelector('#machine2');
const el3 = document.querySelector('#machine3');
const machine1 = new SlotMachine(el1);
const machine2 = new SlotMachine(el2);
const machine3 = new SlotMachine(el3);
btnShuffle.addEventListener('click', () => {
  machine1.shuffle(5);
  machine2.shuffle(6);
  machine3.shuffle(7);
});
</script>

  </body>
</html>

